<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.globaltester.smartcardshell.protocols">
      <protocol
            class="org.globaltester.smartcardshell.protocols.icao9303.ProtocolProvider"
            name="ICAO9303">
      </protocol>
   </extension>

</plugin>
